<div class="card">
  <%= form_with url: "/index", method: :get do |form| %>
    <%= form.label :label, "Your city:" %>
    <%= text_field_tag(:city) %>
    <%= form.submit "Search" %>
  <% end %>
  <article class="content">
    <%= time_tag Time.now %>
    <div class="temperature">
      <p>
        <%= @weather[:temperature] %> °C
      </p>
      <p class="description">
        <span><%= @weather[:description] %></span>
        <% if @weather[:icon_url] %>
          <%= image_tag @weather[:icon_url] %>
        <% end %>
      </p>
    </div>
    <div class="weather-details">
      <span>
        <p>Humidity</p>
        <p>45%</p>
      </span>
      <span>
        <p>Wind speed</p>
        <p>19.2 km/j</p>
      </span>
    </div>
  </article>
</div>
