<div class="card">
  <%= form_with url: "/index", method: :get do |form| %>
    <%= form.label :label, "Your city:" %>
    <%= text_field_tag(:city) %>
    <%= form.submit "Search" %>
  <% end %>
  <% case @weather[:state] %>
  <% when "initial" %>
    <p>Waiting for your input</p>
  <% when "success" %>
    <%= render 'city_weather', :weather => @weather %>
  <% when "error" %>
    <p>There has ben an error</p>
  <% end %>
</div>
